.cover {
  max-width: 1184px;
  margin: 12px auto 92px auto;
  position: relative;
  background-image: url(../../images/cover-background-l.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin-top: 10px;
    margin-bottom: 88px;
    background-image: url(../../images/cover-background-m.png);
  }
}

@media screen and (max-width: 590px) {
  .cover {
    max-width: 590px;
  }

}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin-top: 16px;
    margin-bottom: 64px;
    background-image: url(../../images/cover-background-s.png);
  }
}
