.place__url-heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #AAAAAA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    font-size: 12px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    margin: 0 16px;
  }
}
