.intro__title {
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width: 720px) {
  .intro__title {
    width: 100%;
    font-size: 40px;
    line-height: 1.1;
  }
}


@media screen and (max-width: 590px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
